*{
	margin: 0;
	padding: 0;
}
.header{
	background-color: #0382D1;
	padding: 20px;
	color: white;
}
.body{
	padding-left: 100px;
	padding-right: 100px;	
}
.topmenu ul li{
	display: inline-block;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;	
}
.topmenu a{
	text-decoration: none;
}
.topmenu a:hover{
	background-color: #0382D1;
	color: white;
	padding: 10px 5px;
}
.leftmenu{
	width: 24%;
	float: left;		
	border: 1px solid black;
}
.leftmenu ul li{
	list-style-type: none;
	
}
.leftmenu a{
	text-decoration: none;
}
.rightmenu{
	width: 74%;
	float: left;
}
.footer{
	background-color: #0382D1;
	padding: 20px;
	color: white;
	text-align: center;
	clear: both;
}